<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900& family=Montserrat:wght@500;800&family=Open+Sans:wght@400;600&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="../static/css/main.462b2b78.chunk.css">

  <title>Document</title>
</head>

<body>


  <section class="preview ">
    <div class="preview-container">
      <div class="preview__card">
        <div class="preview__card--description">
          <div class="preview__card--bullet js_bullet palette_<%=palette%>_bullet_color"></div>
          <div class="preview__card--title js_title">
            <h2 class="preview__card--name js_preview_name palette_<%=palette%>_text_color">
              <%=name%>
            </h2>
            <h3 class="preview__card--job js_preview_job palette_<%=palette%>_text_color">
              <%=job%>

            </h3>
          </div>
        </div>

        <div class="js__profile-image preview__photo" style="background-image: url( <%=photo%>)"></div>

        <ul class="preview__rrss">
          <li class="preview__rrss--phone preview__rrss--item js_item palette_<%=palette%>_item_color">
            <a href="tel: <%=phone%> " class="preview__rrss--link js_preview_phone">
              <i class="fas fa-mobile-alt js_icon palette_<%=palette%>_icons_color"></i>
            </a>
          </li>
          <li class="preview__rrss--item preview__rrss--email js_item palette_<%=palette%>_item_color">
            <a href="mailto:  <%=email%>" class="preview__rrss--link js_preview_email">
              <i class="far fa-envelope js_icon palette_<%=palette%>_icons_color}"></i>
            </a>
          </li>
          <li class="preview__rrss--item preview__rrss--linkdin js_item palette_<%=palette%>_item_color">
            <a href="https://www.linkedin.com/in/<%=linkedin%>" class="preview__rrss--link js_preview_linkedin"
              target="_blank">
              <i class="fab fa-linkedin-in js_icon palette_<%=palette%>_icons_color"></i>
            </a>
          </li>
          <li class="preview__rrss--item preview__rrss--github js_item palette_<%=palette%>_item_color">
            <a href="https://github.com/ <%=github%>" class="preview__rrss--link js_preview_github" target="_blank">
              <i class="fab fa-github-alt js_icon palette_<%=palette%>_icons_color"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</body>

</html>